<div class="protein-item-c">
    <div class="beautified-form-input">
      <span class="purple-chunk">gm</span>
      <input
        id="protein-amount"
        type="number" 
        onkeydown={{action "increment"}}
        placeholder="enter protein amount"
        autofocus
      >
    </div>
</div>

<div class="protein-item-d">
  <p>some chart goes here</p>
</div>

<div class="protein-item-e">
  <div>
    <h3>Total for Today: </h3>
    <p>{{this.count}}</p>
  </div>
</div>
