@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
@import "../utils/variables.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  justify-content: center;
  justify-items: center;
}
/* grid container, .item are grid items */
.item-a {
  grid-area: title;
  align-self: center;
}

.item-b {
  grid-area: avatar;
  align-self: center;
}
.item-c {
  grid-area: none-1;
  align-self: center;
}
.item-d {
  grid-area: none-2;
  align-self: center;
}
.item-e {
  grid-area: none-3;
  align-self: center;
}
.item-f {
  grid-area: none-4;
  align-self: center;
}

.container {
  display: grid;
  max-width: 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 30% 25% 25%;
  grid-template-areas: 
    "title title"
    "avatar avatar "
    "none-1 none-2"
    "none-3 none-4";
  justify-content: center;
  justify-items: center;
  height: 680px;
  margin: 0 auto;
  box-shadow: -1px 2px 17px 0px rgba(112, 112, 112, 0.36);
  // border: 5px solid red;
}

.short-description {
  font-size: 1.5rem;
  font-weight: normal;
}

.avatar-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;

  color: white;
  font-weight: bold;
  background-color: $green;
}

.sub-item {
  width: 9rem;
  height: 9rem;
  line-height: 30px;
  border-radius: 10%;
  font-size: 1rem;
  text-align: center;

  color: white;
  font-weight: bold;

  &:hover {
    box-shadow: 4px 1px 8px -2px rgba(148,145,148,1);
  }

  &:active {
    box-shadow: 4px 1px 8px -2px rgba(148,145,148,1);
  }
}

.protein { background-color: $pink;}
.quotes { background-color: $purple;}
.exercise { background-color: $blue;}
.captains-log { background-color: $green;}
