@import "../utils/variables.scss";

.back-home {
  color: $purple;
  float: left;
  padding: 20px;
}

#protein-hello {
  color: $purple;
}

#protein-amount {
  border-color: $purple;
  padding-left: 10px;
}

.protein-item-a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: -20px 0px 0px -20px; // to offset padding on container for background image
}

.protein-item-b {
  grid-area: hello;
  margin-top: -100px;
}

.protein-item-c {
  grid-area: form;
}

.protein-item-d {
  grid-area: chart;
  justify-self: center;
  align-self: center;
}
 
.protein-item-f {
  grid-area: avg;
  justify-self: center;
}

.protein-item-e {
  grid-area: total;
  justify-self: center;
}

.protein-container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 2fr .5fr 1fr 2fr 1fr;
  grid-template-areas: 
    "background-image background-image"
    "hello ."
    "form form"
    "chart chart"
    "avg total";
  justify-content: center;
  justify-items: left;
  padding: 20px; // universal padding
  max-width: 380px;
  max-height: 600px;
  height: 100vh;
  margin: 0 auto;
  box-shadow: -1px 2px 17px 0px rgba(112, 112, 112, 0.36);
}

// TODO move eventually to scss mixin or something
label {
  color: $dark-grey;
}

input {
  border-color: $purple;
  border-style: solid;
  border-radius: 0px 30px 30px 0px;
  border-width: 2px;
  height: 24px;
  width: 15rem;
}

.beautified-form-input {
  display: flex;
  align-items: center;
}

.purple-chunk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 26px;
  color: $purple;
  font-size: 12px;
}