<div class="container">
  <div class="item item-a">
    <span class="short-description">The official "Master of None"</span>
  </div>
  <div class="item item-b avatar">
    <img class="avatar-img" src="../assets/images/angel.png">
  </div>
  
{{!-- here will use flexbox to put in buttons, the should be a component --}}
  <div class="item item-c">
    <button class="sub-item">testing1</button>
  </div>
  <div class="item item-d">
    <button class="sub-item">testing2</button>
  </div>
  <div class="item item-e">
    <button class="sub-item">testing3</button>
  </div>
  <div class="item item-f">
    <button class="sub-item">testing4</button>
  </div>
</div>