<div class="protein-container">
  <div class="protein-item-a">
    <LinkTo @route="index" class="back-home" href="#">
      {{fa-icon "arrow-left"}}
    </LinkTo>
  </div>

  <div class="protein-item-b">
    <h1 id="protein-hello">Hello</h1>
    <label>Enter protein amount</label>
  </div>
  <ProteinCounter @value={{this.model.protein}} />
</div>